/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/xcuserdata
Build
/TraitAwareVC-Demo/TraitAwareVC-Demo.xcodeproj/project.xcworkspace/xcuserdata
/Example/MockStoreKit.xcworkspace/xcuserdata/admin.xcuserdatad
/Example/MockStoreKit.xcodeproj/xcuserdata
/Example/Pods
/MockStoreKit.xcodeproj/xcuserdata
/MockStoreKit.xcodeproj/project.xcworkspace/xcuserdata
/fastlane/report.xml
